body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}
ol,
ul {
  padding: 0;
  margin: 0;
  // list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}
@import './variable.scss';
