$font_size_grand: 40px;
$font_size_huge: 32px;
$font_size_big: 24px;
$font_size_large: 20px;
$font_size_medium: 16px;
$font_size_small: 14px;
$font_size_tiny: 12px;

$color_header_black: #000;
$color_header_white: #fff;
$color_dark_black: #333;
$color_dark_grey: #777;
$color_light_grey: #adadad;
$color_bright_grey: #ccc;
$color_border_grey: #eaeaea;
$color_shadow_grey: rgba(0, 0, 0, 0.15);

$size_header_height: 50px;

$max_width_pc: 1200px;
